<h1><%= $game.player1_name %> vs. <%= $game.player2_name %></h1>
<img src="http://img2.wikia.nocookie.net/__cb20141113035440/fantendo/images/a/a5/Pikachu_digital_art_pokemon_by_dark_omni-d5wotdb.png"
  alt="Pichachu" width="120px" height="120px">
<h3><%= $game.player2_name %> <%= $game.player2_hp %>hp</h3>
<img src="http://www.clipartbest.com/cliparts/9cR/Ryx/9cRRyxB9i.png"
  alt="Another pokemon" width="120px" height="120px">
<h3><%= $game.player1_name %> <%= $game.player1_hp %>hp</h3>

<form action="/attack">
  <label for="Attack">
    <%= $game.current_player.name %>'s turn
  <input type="submit" value="Attack">
</label>
</form>
